/* ==========================================================================
                         HR-MAIN
========================================================================== */
.wrapper{
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-color: gray;
}

section{
	&.first-container{
		width: 100%;
		height: auto;
		min-height: 80vh;
		@include flexCrosbrowsing();
		justify-content:center;
		align-items:center;
		background-size: cover;
		background-repeat: no-repeat;
		@include transition(.3s);
		background-position: center;
		background-color: black;
		video{
			width: 190%;
			height: auto;
			@include breakpoint(tablet){
				width: 100%;
				height: auto;
			}
		}
	}
	&.second-container{
		width: 100%;
		height: auto;
		min-height: 600px;
		background-color: white;
		padding: 100px 0 0 0;
		div{
			&.img-products-container{
				width: 100%;
				height: auto;
				min-height: auto;
				max-width: 880px;
				display: block;
				margin: 0 auto;
				padding: 20px 0;
				@include breakpoint(tablet){
					@include flexCrosbrowsing();
					justify-content:center;
					align-items:center;
				}
				div{
					&.prod1{
						width: 33.333333333%;
						height: 90px;
						float: left;
						margin: 0;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						@include transition(.3s);
						@include breakpoint(tablet){
							width: 13.333333333%;
							margin: 0 1%;
						}
						&:nth-child(1){
							background-image: url('../img/home/armas/prod1.png');
						}
						&:nth-child(2){
							background-image: url('../img/home/armas/prod2.png');
						}
						&:nth-child(3){
							background-image: url('../img/home/armas/prod3.png');
						}
					}
					&.prod2{
						width: 50%;
						height: 90px;
						margin: 0;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						float: left;
						background-image: url('../img/home/armas/prod4.png');
						@include transition(.3s);
						@include breakpoint(tablet){
							width: 25%;
							margin: 0 1%;
						}

					}
					&.prod5{
						background-image: url('../img/home/armas/prod5.png');
						
					}
				}

			}
			&.container-link-productos{
				width: 90%;
				display: block;
				margin: 0 auto;
				@include flexCrosbrowsing();
				flex-direction:column;
				@include breakpoint(tablet){
					justify-content:center;
					align-items:center;
					flex-direction:inherit;
				}
				a{
					&.link-producto{
						width: 100%;
						height: auto;
						cursor:pointer;
						text-decoration: none;
						margin: 10px 0;
						@include transition(.3s);
						div{
							&.container-producto{
								width: 100%;
								height: 200px;
								background-color: #efefef;
								@include transition(.3s);

							}
							&.container-prod-1{
								background-image: url('../img/home/hpc.jpg');
								background-size: cover;
							}
							&.container-prod-2{
								background-image: url('../img/home/hballistic.jpg');
								background-size: cover;
							}
							&.container-prod-3{
								background-image: url('../img/home/hwindows.jpg');
								background-size: cover;
							}
							&.container-prod-4{
								background-image: url('../img/home/hdoors.jpg');
								background-size: cover;
							}
							&.container-prod-5{
								background-image: url('../img/home/hvestibules.jpg');
								background-size: cover;
							}

						}
						p{
							&.txt-producto{
								margin: 5px 0;
								font-family: $fontGeosans;
								color: $azulPrincipal;
								font-size: 20px;
								font-weight: 800;
								text-align: center;
								@include transition(.3s);
							}
						}
						@include breakpoint(desktop){
							width: 20%;
							margin: 0 10px;
							div{
								&.container-producto{
									height: 260px;
								}
							}
							&:hover{
								div{
									&.container-producto{
										background-color: $azulPrincipal;
										height: 260px;
									}
								}
								p{
									&.txt-producto{
										color:black;
									}
								}
							}
						}
					}

				}
			}
			&.container-img-heroproducto{
				margin-top: 60px;
				width: 100%;
				min-height: 400px;
				background-image: url('../img/home/secure-hero.jpg');
				background-size: cover;
				background-repeat: no-repeat;
				@include transition(.3s);
				background-position: center;
			}
			&.img-heroproduct-1{
				background-image: url('../img/home/puertas.jpg');
			}
		}

	}
	&.third-container{
		width: 100%;
		height: auto;
		min-height: 600px;
		background-color: $azulPrincipal;
		padding: 60px 0 0 0;
		div{
			&.owl-carousel{
				width: 90%;
				display: block;
				margin: 0 auto;
				/*padding:20px 0;*/
				div{
					&.item{
						max-width: 900px;
						display: block;
						margin: 0 auto;
					}
				}
			}
			&.container-img-heroproducto-b{
				margin-top: 60px;
				width: 100%;
				min-height: 400px;
				background-image: url('../img/home/secure-hero.jpg');
				background-size: cover;
				background-repeat: no-repeat;
				@include transition(.3s);
				background-position: center;
				padding:60px 0;
			}
			
			&.img-heroproduct-2{
				background-image: url('../img/home/banco.jpg');
			}
		}

	}
	&.third-container-gray{
		background-color: #adadad;
	}
	&.forth-container{
		width: 100%;
		height: auto;
		min-height: 600px;
		background-color: $azulPrincipal;
		padding: 60px 0 0 0;
		div{
			&.container-ubication{
				width: 100%;
				max-width: 300px;
				display: block;
				margin: 0 auto;
				padding:20px 0;
				@include flexCrosbrowsing();
				justify-content:flex-start;
				align-items:center;
				flex-direction:column;
				div{
					&.contact-data{
						@include flexCrosbrowsing();
						justify-content:flex-start;
						align-items:center;
						width: 100%;
						padding:10px 0;
						img{
							&.i-ubication{
								width: 22px;
								height: auto;
							}
						}
					}
				}
			}
		}
	}
}

.owl-nav button.owl-prev{
    position: absolute;
    left: 0;
    top: 20%;
}
.owl-nav button.owl-prev > span{
    color: white;
    font-size: 110px;
}
.owl-nav button.owl-next{
    position: absolute;
    right: 0;
    top: 20%;
}
.owl-nav button.owl-next > span{
    color: white;
    font-size: 110px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	color:blue;
	background-color:transparent!important;
}

.owl-theme .owl-dots, .owl-theme .owl-nav{
	margin: 50px 0;
}

/* ==========================================================================
                         END-HR-MAIN
========================================================================== */