/* ==========================================================================
CLIENT - COLOR PALETTE
========================================================================== */  
 $colorPrincipal: #316d82;
 $hoverPrincipal:#142c35;
 $white: #fff;
 $txtTitulos:#212121;
 $txtContenido:#484848;
 $bgBtn:#ededed;
 $azulPrincipal:#191c29;
 $txtGray: #efefef;
 $grayMenu:#373a3e;
 $borderMenu:#1e2023;

