/* ==========================================================================
BREAKPOINT
========================================================================== */
@mixin breakpoint($point) {
	@if $point == desktop {
		@media screen and (min-width: 64em){ @content; }
	}
	@else if $point == tablet{
		@media screen and (min-width: 48em){ @content; }
	}
	@else if $point == mobile {
		@media screen and (min-width: 30em){ @content; }
	}
}
@mixin flexCrosbrowsing(){
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Chrome */
  	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin transition($time){
	-moz-transition: all $time;
	-o-transition: all $time;
	-webkit-transition: all $time;
	transition: all $time;
}

/**/
$fontPrincipal:('Roboto', Helvetica, Arial, 'sans-serif');
$fontBotones:('Roboto', Helvetica, Arial, 'sans-serif');
$fontHiragino:('Hiragino', Helvetica, Arial, 'sans-serif');
$fontGeosans:('GeosansLight', Helvetica, Arial, 'sans-serif');
$fontPT:('PT Serif', Helvetica, Arial, 'sans-serif');

@mixin txtPrincipal($tipo){
	font-family: $tipo;
	font-weight: 400;
}
@mixin txtBotones($tipo, $color){
	font-family: $tipo;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: $color;
}


/* ==========================================================================
GRID
========================================================================== */
/*
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
            user-select: none; 
}
*/
body, html{
	@include txtPrincipal($fontPrincipal);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*:focus {outline: none;}
a:visited {outline: none; color: #316d82}
label{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
a, span, input, figcaption, p, label, h1, h2, h3, h4{
	@include txtPrincipal($fontGeosans);
}

